

/* Company Section Styling */
#company {
    padding: 60px 20px;
    color: #fff;
    text-align: center;
}

#company h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #ff6b6b;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInSlide 1.5s ease-in-out;
    font-weight: lighter;
}

.company-group {
    display: inline-block;
    width: 22%;
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    position: relative;
    border-left: 2px solid #ff6b6b;
    transition: transform 0.3s ease, color 0.3s ease;
    animation: fadeInUp 2s ease-in-out;
    
}

.company-group:not(:last-child) {
    border-left: 2px solid #6d5151;
    padding-left: 30px;
}

.company-group a h3 {
    font-size: 18px;
    color: #00bfff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    font-weight: lighter;
}

.company-group a h3 i {
    margin-right: 10px;
    color: #ff6b6b;
}

.company-group a h3:hover {
    color: #ff6b6b;
    transform: translateX(5px);
}

.company-group p {
    font-size: 16px;
    color: #ddd;
    margin: 0;
    transition: color 0.3s ease;
}

.company-group:hover {
    transform: translateY(-10px);
}

.company-group:hover p {
    color: #ff6b6b;
}

/* Animations */
@keyframes fadeInSlide {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
